

<footer class="">
    <div class="flex">
        <div>
            <p>Edgar Pérez</p>
        </div>
        
        <div>
            <p>Página creada con Astro JS</p>

        </div>
    <div/>
<footer>