---

---
<header>

    <nav class="flex justify-end m-8">
        <a href="/" class="no-underline text-black m-4 text-base font-bold">Home</a>
        <a href="/blog" class="no-underline text-black m-4 text-base font-bold">blog</a>
    </nav>
</header>


