---
// import type { CollectionEntry } from 'astro:content';
import type {MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
    title:string;
    heroImage: string;
}>

const {title,heroImage} = Astro.props.frontmatter;
import Footer from '../components/Footer.astro';
import NavigatoBar from '../components/NavigatoBar.astro';


// type Props = CollectionEntry<'blog'>['data'];

// const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=}, initial-scale=1.0">
    <title>Blog: {title}</title>
</head>
<body>
    <NavigatoBar />
    <article class="main__article">
        <div class="prose">
            <img src={heroImage} width={1020} height={510}>
            <h1>{title}</h1>
            <slot />
        </div>
    </article>
    <Footer />
</body>
</html>


<style is:global>
    .main__article h1{
        font-size: 3rem;
        font-weight: bold;
        margin: 0 0 1em 0;
    }

    .main__article h2{
        font-weight: bold;
        font-size: 1.5rem;
        margin: 0 0 1em 0;
    }

    .prose ul{
        padding: .5rem;
        list-style: disc;
        margin: 1rem;
    }

    .prose p{
        margin-bottom: 2rem;
    }

    .main__article{
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
    }

    @media (max-width: 425px) {
        .main__article h1{
            font-size: 2rem;
        }
        .main__article h2{
            font-size: 1rem;
        }
        .prose p{
            font-size:  .8rem;
        }
        .prose ul li{
            font-size:  .8rem;
        }

        .main__article{
            width: 720px;
            max-width: calc(100% - 4em);
            margin: auto;
        }

    }

</style>