---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Footer from '../components/Footer.astro';
import NavigatoBar from '../components/NavigatoBar.astro';
import BaseHead from '../components/BaseHead.astro';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title}/>

	</head>
	<body>
		
		<NavigatoBar />
		<slot />
		<Footer />
	</body>
</html>



<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

	h1{
		font-size: 40px;
		font-weight: bold;
	}

	/* p{
		color: brown;
		margin-bottom: 2rem;
		
	} */

</style>
